/* ===== Global ===== */
body {
    background-color: hwb(161 80% 6%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 5%);
}

/* ===== Header ===== */
.page-header {
    background-color: hsl(0, 0%, 2%); /* dark gray */
    padding: 20px 0;
}

.page-header h1 {
    margin: 10;
    font-size: 30px;
}

.page-header h1 a {
    color: #ffffff;
    text-decoration: none;
}

/* ===== Post Card ===== */
.post {
    background: oklch(92.754% 0.01302 266.74);
    padding: 24px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.post h2 {
    margin-top: 10px;
    font-size: 28px;
}

.post h2 a {
    color: hsl(116, 88%, 3%);
    text-decoration: none;
}

.post h2 a:hover {
    text-decoration: underline;
}

.post time {
    font-size: 14px;
    color: hwb(162 19% 56%);
}

.post p {
    line-height: 2;
    margin-top: 15px;
}

/* ===== Buttons (future use) ===== */
.btn-secondary {
    background-color: transparent;
    color: #2563eb;
    border: 1px solid #2563eb;
}

.btn-secondary:hover {
    background-color: #2563eb;
    color: #ffffff;
}
